<header id="header">
    <div class="container">
        <div class="navbar-backdrop">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-toggle"><i class="fas fa-bars"></i></a>
                    <a href="#" class="logo"><img src="{{ asset('uploads/logos/clikEat.png') }}"
                            alt="Clik Eat Logo"></a>
                    <nav class="nav">
                        <ul>
                            <li>
                                <a href="{{ path('product_index') }}">Produits </a>
                            </li>
                            <li>
                                <a href="{{ path('get_cart_item') }}"><i class="fas fa-shopping-cart"></i> Panier</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="nav navbar-right">{% if app.user %}
                    <ul>
                        <li class="dropdown">
                            <a href="login.html" data-toggle="dropdown"><img src="" alt="">
                                <span>{{ app.user.username }} <i class="fas fa-chevron-down"></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-user"></i>Mon profil</a>
                                <div class="dropdown-divider"></div>
                                {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="fas fa-user"></i>Admin Panel</a>
                                <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href=""><i
                                        class="fas fa-sign-out-alt"></i>Se
                                    déconnecter</a>
                            </div>
                        </li>
                        <li class="dropdown dropdown-notification">
                            <a href="register.html" data-toggle="dropdown">
                                <i class="fas fa-bell"></i>
                                <span class="badge badge-danger">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <h5 class="dropdown-header"><i class="fas fa-bell"></i>Notifications</h5>
                                <div class="dropdown-block">
                                    <a class="dropdown-item" href="#">
                                        <span class="badge badge-info"><i class="fas fa-envelope-open"></i></span>new
                                        email
                                        <span class="date">just now</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="badge badge-danger"><i class="fas fa-thumbs-up"></i></span>liked
                                        your post
                                        <span class="date">5 mins</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="badge badge-primary"><i class="fas fa-user-plus"></i></span>
                                        friend request
                                        <span class="date">2 hours</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="badge badge-info"><i class="fas fa-envelope"></i></span> new
                                        email
                                        <span class="date">3 days</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="badge badge-info"><i class="fas fa-video-camera"></i></span> sent
                                        a video
                                        <span class="date">5 days</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="badge badge-danger"><i class="fas fa-thumbs-up"></i></span> liked
                                        your post
                                        <span class="date">8 days</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li><a data-toggle="search"><i class="fas fa-search"></i></a></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li class="hidden-xs-down"><a href="{{ path('login') }}">Se connecter</a></li>
                        <li class="hidden-xs-down"><a href="{{ path('register') }}">S'inscrire</a></li>
                        <li><a data-toggle="search"><i class="fas fa-search"></i></a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="navbar-search">
            <div class="container">
                <form method="post">
                    <input type="text" class="form-control" placeholder="Rechercher...">
                    <i class="fas fa-times close"></i>
                </form>
            </div>
        </div>
    </div>
</header>
