{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deliverer</h1>
    {% for deliverer in deliverers %}
        {{ dump(deliverer) }}
        {{ deliverer.id }}
        {{ deliverer.username }}
        {{ deliverer.email }}
    {% endfor %}
{% endblock %}
