{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <style>
        .article-wrapper
        {
            margin: 0.5em auto;
            width: 100%;
            font: 18px / 1.5 sans-serif;
        }
    </style>

    <div class="article-wrapper">
        <section class="p-t-30">
            <div class="container">
                    {% for article in articles %}
                <div class="row">

                        <div class="col-12">
                            {# <div class="card mb-3"> #}
                            <div class="card">
                                {# <img src="..." class="card-img-top" alt="..."> #}
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ path('article_show', { id: article.id }) }}"><strong>{{ article.category.name }}</strong> - {{ article.name }}</a></h5>
                                    <p class="card-text">
                                        <form>
                                            <i class="fas fa-dolly"></i>
                                            <input id="{{ article.id }}" type="number" value="1"/>
                                            <button type="submit" class="btn btn-primary btn-sm" style="width:140px">
                                                <i class="fas fa-shopping-cart"></i>Ajouter au panier
                                            </button>
                                        </form>
                                    </p>
                                    {# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> #}
                                </div>
                            </div>
                        </div>
                </div>
                    {% endfor %}
            </div>
        </section>
    </div>


{% endblock %}
